{% extends 'base/base.html' %}

{% block title %}Create{% endblock %}

{% block content %}
  {% if uniqueness_error %}
    <div class='error'>
      <p>A user already exists with that username.</p>
    </div>
  {% endif %}

  <form method='post' action='{% url "authorization:create" %}'>
    {% csrf_token %}
    <label for='username'>Username</label>
    <input type='text' name='username'></input>
    <input type='submit' value='Submit'></input>
  </form>

  <p>Already have an account? <a href='{% url "authorization:log_in" %}'>Log in</a></p>
{% endblock %}
