{% extend 'base/base.html %}

{% block title %}Confirm Password{% endblock %}

{% block content %}
  {% if incorrect_password_error %}
    <div class='error'>
      <p>The password you entered was incorrect!</p>
      <p>The correct password is:</p>
    </div>
  {% else %}
    <div>
      <p>
        Your account has been created! A secure password has been generated
        for your account:
      </p>
    </div>
  {% endif %}

  <div class='password'>{{ password }}</div>

  <div>
    <p>
      Please carefully record this password as we will not be able to
      retrieve or reset it for you. Sign in with this password below to
      access your account.
    </p>
  </div>

  <form method='post' action='{% url "authorization:create" %}'>
    {% csrf_token %}
    <input type='hidden' name='username' value='{{ username }}'></input>
    <input type='hidden' name='hidden-password' value='{{ password }}'></input>
    <label for='username'>Username</label>
    <span>{{ username }}</span>
    <label for='password' placeholder='Password'>Password</label>
    <input type='password' name='password'></input>
    <input type='submit' value='Submit'></input>
  </form>
{% endblock %}
