html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #dddddd;
    background-color: #111111;
  }
}

body {
  margin: 1rem;
  padding: 0;
  width: calc(100% - 3rem);
  max-width: 30rem;

  font-size: 14pt;
  font-family: Verdana, Geneva, sans-serif;
}

@media (prefers-color-scheme: dark) {
  a:link,
  a:visited {
    color: #dddddd;
  }

  a:hover,
  a:active {
    color: #ffffff;
  }
}

.password {
  text-align: center;
  font-family: consolas, "Liberation Mono", "Lucida Console", courier, monospace;
}

header {
  text-align: center;
  margin-bottom: 1rem;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

p {
  text-align: left;
}

label {
  align-self: center;
  justify-self: end;
}

input[type=password],
input[type=text] {
  width: 15rem;
}

input[type=submit] {
  grid-column: 1 / span 2;
  justify-self: center;
}

.error {
  color: red;
  text-align: center;
}

.warning {
  color: yellow;
}

.button {
  border: 2px solid black;
  border-radius: 6px;
  width: min-content;
  padding: 0.6rem 1rem;
  font-size: 16pt;

  cursor: pointer;
}

input[type=button],
input[type=submit] {
  color: black;
  border: 2px solid black;
  border-radius: 6px;
  width: min-content;
  padding: 0.6rem 1rem;
  font-size: 16pt;
}

@media (prefers-color-scheme: dark) {
  .button {
    border-color: #dddddd;
  }

  input[type=button],
  input[type=submit] {
    background: #111111;
    color: #dddddd;
    border-color: #dddddd;
  }
}

.button-panel {
  display: flex;
  flex-direction: row;
}

.button-panel .button {
  margin-left: 1rem;
}

.button-panel .button:first-child {
  margin-left: 0;
}

input[type=number] {
  font-size: 16pt;
}

.exercise {
  display: grid;
  margin-bottom: 2rem;
}

.exercise .name {
  font-size: 18pt;
  margin-bottom: 0.8rem;
}

.exercise .set-record-list-at-weight {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 0.6rem;
}

.exercise .weight {
  font-size: 16pt;
  margin-right: 0.8rem;
  width: 5rem;
}

.exercise .set-record-list {
}

.button.workout-plan-picker-button {
  width: calc(100% - 3rem);
  font-size: 12pt;
  margin-top: 1rem;
}

.button.workout-plan-picker-button .workout-plan-name {
  font-weight: bold;
}

.message {
  margin-top: 1rem;
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

  border: 2px solid black;
  border-radius: 6px;

  width: 80%;
  max-width: 26rem;
  padding: 1rem;

  background: white;
}

.modal > :not(:first-child) {
  margin-top: 0.8rem;
}

@media (prefers-color-scheme: dark) {
  .modal {
    background: #111111;
    border-color: #dddddd;
  }
}

.modal .button-panel {
  margin-top: 1rem;
}

.set-record-list {
  display: grid;
  grid-template-columns: repeat(5, 2.5rem);
  grid-gap: 1rem;
}

.set-record {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0; /* This is to override the .button style */

  font-size: 16pt;

  display: flex;
  align-items: center;
  justify-content: center;
}

.set-record.planned {
  background: #cc0000;
  color: white;
}

.set-record.incomplete {
  background: #eeee00;
  color: black;
}

.set-record.complete {
  background: #00cc00;
  color: white;
}

.warmup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.warmup .info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.warmup .sets {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

#weight-change-input {
  width: 4.2rem;
  padding: 0;
  text-align: center;
}

.button.finish-workout {
  margin-bottom: 1rem;
}

.timer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  border-top: 2px solid black;

  width: 100%;
  max-width: 33rem;
  padding: 0.8rem;
}

@media (prefers-color-scheme: dark) {
  .timer {
    color: #dddddd;
    border-top-color: #dddddd;
    background-color: #111111;
  }
}
